<div class="column is-one-quater">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 1
        </a>
    </nav>
</div>
